.attribution {
  font-size: 11px;
  text-align: center;
  margin: 10px auto;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  background-color: hsl(185deg, 41%, 84%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 90px 0 30px 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 200px;
}
.box--body {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 15px;
}
.box__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 80%;
}
.box__item .error {
  position: absolute;
  right: 0;
  color: red;
  display: none;
}
.box__label {
  font-weight: 700;
  font-size: 20px;
}
.box__label--color {
  color: hsl(186deg, 14%, 43%);
}
.box__input {
  height: 40px;
  border-radius: 7px;
  font-size: 24px;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  text-align: right;
  font-family: "Space Mono", monospace;
}
.box__input--text-color {
  background-color: hsl(189deg, 41%, 97%);
  background-image: url("../images/icon-dollar.svg");
  background-position: 10%;
  background-repeat: no-repeat;
  color: hsl(183deg, 100%, 15%);
}

.tip {
  margin: 20px auto;
  width: 80%;
}
.tip__tittle {
  font-size: 20px;
  color: hsl(186deg, 14%, 43%);
}
.tip__btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tip__btn {
  width: 120px;
  padding: 5px 10px;
  margin: 10px 15px 7px 0;
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.tip__btn--btn-color {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(189deg, 41%, 97%);
}
.tip__btn--btn-color:hover {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
}
.tip .tip__btn--color {
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
}

.input-people {
  background-image: url("../images/icon-person.svg");
}

.panel {
  margin: 20px auto;
  width: 80%;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 300px;
}
.panel__tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}
.panel__tittle {
  font-size: 18px;
}
.panel__tittle--color {
  color: hsl(189deg, 41%, 97%);
}
.panel__price {
  font-size: 30px;
}
.panel__price--color {
  font-weight: 700;
  color: hsl(184deg, 14%, 56%);
}
.panel__reset-btn {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.panel__reset-btn--color {
  background-color: hsl(184deg, 14%, 56%);
  color: hsl(183deg, 100%, 15%);
}
.panel__reset-btn--color:hover {
  background-color: hsl(185deg, 41%, 84%);
}

@media (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tittle {
    margin: 40px;
  }
  .box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin: 0px 20px;
    padding: 40px 20px;
  }
  .box .box__item {
    margin: 10px;
  }
  .box .tip {
    margin: 10px;
  }
  .box .panel {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .box {
    width: 70%;
  }
  .box .tip {
    width: 80%;
  }
  .box .panel {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .box {
    width: 800px;
  }
}/*# sourceMappingURL=style.css.map */