@use "frontend-mentor-style";
@use "colors" as color;
@use "mini-reset" as *;
@use "mixins" as *;

body {
  @include font-space-mono;
  font-size: 10px;
  background-color: color.$light-grayish-cyan;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;

  &--body {
    background-color: color.$white;
    border-radius: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include center-position;
  }

  &__label {
    font-weight: 700;
    font-size: 20px;
    &--color {
      color: color.$dark-grayish-cyan;
    }
  }

  &__input {
    height: 40px;
    border-radius: 7px;
    font-size: 24px;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    text-align: right;
    @include font-space-mono;

    &--text-color {
      background-color: color.$very-light-grayish-cyan;
      background-image: url("../images/icon-dollar.svg");
      @include input-bg-img;
      color: color.$very-dark-cyan;
    }
  }
}

.tip {
  @include center-position;

  &__tittle {
    font-size: 20px;
    color: color.$dark-grayish-cyan;
  }

  &__btns-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    width: 120px;
    padding: 5px 10px;
    margin: 10px 15px 7px 0;
    font-weight: 700;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include font-space-mono;
    transition: background-color 0.4s, color 0.4s;
    &--btn-color {
      background-color: color.$very-dark-cyan;
      color: color.$very-light-grayish-cyan;
    }
    &--btn-color:hover {
      background-color: color.$light-grayish-cyan;
      color: color.$very-dark-cyan;
    }
  }

  .tip__btn--color {
    background-color: color.$very-light-grayish-cyan;
    color: color.$very-dark-cyan;
  }
}

.input-people {
  background-image: url("../images/icon-person.svg");
}

.panel {
  @include center-position;
  background-color: color.$very-dark-cyan;
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 300px;

  &__tip {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  &__tittle {
    font-size: 18px;
    &--color {
      color: color.$very-light-grayish-cyan;
    }
  }

  &__price {
    font-size: 30px;
    &--color {
      font-weight: 700;
      color: color.$grayish-cyan;
    }
  }

  &__reset-btn {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.4s;

    &--color {
      background-color: color.$grayish-cyan;
      color: color.$very-dark-cyan;
    }
    &--color:hover {
      background-color: color.$light-grayish-cyan;
    }
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle {
    margin: 40px;
  }

  .box {
    flex-direction: row;
    width: 80%;
    margin: 0px 20px;
    padding: 40px 20px;

    .box__item {
      margin: 10px;
    }

    .tip {
      margin: 10px;
    }
    .panel {
      margin: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media (min-width: 1200px) {
  .box {
    width: 70%;
    .tip {
      width: 80%;
    }
    .panel {
      width: 50%;
    }
  }
}

@media (min-width: 1440px) {
  .box {
    width: 800px;
  }
}
