@use "frontend-mentor-style";
@use "colors" as color;
@use "mini-reset" as *;
@use "mixins" as *;

body {
  @include font-space-mono;
  font-size: 10px;
  background-color: color.$light-grayish-cyan;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;

  &--body {
    background-color: color.$white;
    border-radius: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include center-position;
  }

  &__label {
    font-weight: 700;
    font-size: 20px;
    &--color {
      color: color.$dark-grayish-cyan;
    }
  }

  &__input {
    height: 40px;
    border-radius: 7px;
    font-size: 24px;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    text-align: right;
    @include font-space-mono;

    &--text-color {
      background-color: color.$very-light-grayish-cyan;
      background-image: url("../images/icon-dollar.svg");
      background-position: 10%;
      background-repeat: no-repeat;
      color: color.$very-dark-cyan;
    }
  }
}

.tip {
  @include center-position;

  &__tittle {
    font-size: 20px;
    color: color.$dark-grayish-cyan;
  }

  &__btns-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    width: 120px;
    padding: 5px 10px;
    margin: 10px 15px 7px 0;
    font-weight: 700;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include font-space-mono;
    transition: background-color 0.4s, color 0.4s;
    &--btn-color {
      background-color: color.$very-dark-cyan;
      color: color.$very-light-grayish-cyan;
    }
    &--btn-color:hover {
      background-color: color.$light-grayish-cyan;
      color: color.$very-dark-cyan;
    }
  }

  .tip__btn--color {
    background-color: color.$light-grayish-cyan;
    color: color.$very-dark-cyan;
  }
}
